/* screen - web-1920-1 */

.web-1920-1 {
  background-color: #c9c7c7;
  height: 4903px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-1 .path-1-HlzXCz {
  background-color: transparent;
  height: 929px;
  left: 768px;
  object-fit: cover;
  position: absolute;
  top: 145px;
  width: 1154px;
}

.web-1920-1 .graph-paper-HlzXCz {
  background-color: transparent;
  height: 917px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: 1761px;
}

.web-1920-1 .banner-photo02-HlzXCz {
  background-color: transparent;
  height: 926px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 142px;
  width: 1778px;
}

.web-1920-1 .path-2-HlzXCz {
  background-color: transparent;
  height: 917px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 147px;
  width: 1253px;
}

.web-1920-1 .line-HlzXCz {
  background-color: transparent;
  height: 1005px;
  left: 722px;
  object-fit: cover;
  position: absolute;
  top: 106px;
  width: 578px;
}

.web-1920-1 .line02-HlzXCz {
  background-color: transparent;
  height: 106px;
  left: -58px;
  object-fit: cover;
  position: absolute;
  top: 1007px;
  width: 2031px;
}

.web-1920-1 .hello-my-name-is-HlzXCz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-augie-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 182px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 410px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .im-a-graphic-designe-HlzXCz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-augie-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 121px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 651px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .name03-HlzXCz {
  background-color: transparent;
  height: 109px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 477px;
  width: 824px;
}

.web-1920-1 .rectangle-7-HlzXCz {
  background-color: var(--eerie-black);
  height: 154px;
  left: 58px;
  position: absolute;
  top: 1196px;
  width: 1805px;
}

.web-1920-1 .about-me-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1460px;
  letter-spacing: 0.00px;
  line-height: 120px;
  position: absolute;
  text-align: left;
  top: 1212px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .span0-0XySmS {
}

.web-1920-1 .span1-0XySmS {
}

.web-1920-1 .hi-im-taylor-HlzXCz {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 1474px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .im-currently-a-stude-HlzXCz {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 162px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 1582px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .skills-HlzXCz {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1315px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 1472px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .photoshopxdfigmawrit-HlzXCz {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1315px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 1578px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .rectangle-8-HlzXCz {
  background-color: var(--eerie-black);
  height: 154px;
  left: 58px;
  position: absolute;
  top: 2255px;
  width: 1805px;
}

.web-1920-1 .my-portfolio-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1321px;
  letter-spacing: 0.00px;
  line-height: 120px;
  position: absolute;
  text-align: left;
  top: 2272px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .span0-GwBoin {
}

.web-1920-1 .span1-GwBoin {
}

.web-1920-1 .screen-21x-HlzXCz {
  background-color: transparent;
  border-radius: 15px;
  height: 574px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 2454px;
  width: 888px;
}

.web-1920-1 .selkie_-select-game-HlzXCz {
  background-color: transparent;
  border-radius: 15px;
  height: 574px;
  left: 963px;
  object-fit: cover;
  position: absolute;
  top: 2454px;
  width: 888px;
}

.web-1920-1 .calendar1x-HlzXCz {
  background-color: transparent;
  border-radius: 15px;
  height: 574px;
  left: 963px;
  object-fit: cover;
  position: absolute;
  top: 3016px;
  width: 888px;
}

.web-1920-1 .mockup04-HlzXCz {
  background-color: transparent;
  border-radius: 15px;
  height: 574px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 3016px;
  width: 888px;
}

.web-1920-1 .line02-YIwGnj {
  background-color: transparent;
  height: 94px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 3635px;
  width: 1805px;
}

.web-1920-1 .rectangle-13-HlzXCz {
  background-color: var(--eerie-black);
  height: 154px;
  left: 81px;
  position: absolute;
  top: 3812px;
  width: 1805px;
}

.web-1920-1 .contact-me-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1344px;
  letter-spacing: 0.00px;
  line-height: 120px;
  position: absolute;
  text-align: left;
  top: 3830px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .span0-Shmd8w {
}

.web-1920-1 .span1-Shmd8w {
}

.web-1920-1 .email-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 297px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4120px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .twitter-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 867px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4120px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .linked-in-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1429px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 4120px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .rectangle-14-HlzXCz {
  background-color: var(--eerie-black);
  border-radius: 25px;
  height: 250px;
  left: 248px;
  position: absolute;
  top: 4281px;
  width: 250px;
}

.web-1920-1 .rectangle-15-HlzXCz {
  background-color: var(--eerie-black);
  border-radius: 25px;
  height: 250px;
  left: 835px;
  position: absolute;
  top: 4281px;
  width: 250px;
}

.web-1920-1 .rectangle-16-HlzXCz {
  background-color: var(--eerie-black);
  border-radius: 25px;
  height: 250px;
  left: 1422px;
  position: absolute;
  top: 4281px;
  width: 250px;
}

.web-1920-1 .x-HlzXCz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 297px;
  letter-spacing: 0.00px;
  line-height: 150px;
  position: absolute;
  text-align: left;
  top: 4313px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .twitter-YIwGnj {
  background-color: transparent;
  height: 142px;
  left: 873px;
  object-fit: cover;
  position: absolute;
  top: 4335px;
  width: 174px;
}

.web-1920-1 .linkedin-logo-HlzXCz {
  background-color: transparent;
  height: 313px;
  left: 1391px;
  object-fit: cover;
  position: absolute;
  top: 4250px;
  width: 313px;
}

.web-1920-1 .rectangle-2-HlzXCz {
  background-color: var(--eerie-black);
  height: 154px;
  left: 0px;
  opacity: 0.95;
  position: fixed;
  top: 0px;
  width: 1922px;
}

.web-1920-1 .line02-2G68wd {
  background-color: transparent;
  height: 94px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2078px;
  width: 1805px;
}

.web-1920-1 .line02-C5kjtI {
  background-color: transparent;
  height: 106px;
  left: -58px;
  object-fit: cover;
  position: fixed;
  top: 89px;
  width: 2039px;
}

.web-1920-1 .logo03-HlzXCz {
  background-color: transparent;
  height: 136px;
  left: 0px;
  object-fit: cover;
  position: fixed;
  top: 0px;
  width: 136px;
}

.web-1920-1 .name03-YIwGnj {
  background-color: transparent;
  height: 72px;
  left: 139px;
  object-fit: cover;
  position: fixed;
  top: 37px;
  width: 543px;
}

.web-1920-1 .contact-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1710px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: fixed;
  text-align: left;
  top: 45px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .portfolio-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1500px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: fixed;
  text-align: left;
  top: 47px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .home-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1211px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: fixed;
  text-align: left;
  top: 47px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .about-HlzXCz {
  background-color: transparent;
  height: auto;
  left: 1345px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: fixed;
  text-align: left;
  top: 45px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .rectangle-9-HlzXCz {
  background: linear-gradient(121.95deg, rgba(255, 255, 255, 0.2) 1.45%, rgba(128, 128, 128, 0) 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 516px;
  left: 113px;
  position: absolute;
  top: 2474px;
  width: 824px;
}

.web-1920-1 .rectangle-10-HlzXCz {
  background: linear-gradient(121.95deg, rgba(255, 255, 255, 0.2) 1.45%, rgba(128, 128, 128, 0) 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 516px;
  left: 985px;
  position: absolute;
  top: 2474px;
  width: 824px;
}

.web-1920-1 .rectangle-11-HlzXCz {
  background: linear-gradient(121.95deg, rgba(255, 255, 255, 0.2) 1.45%, rgba(128, 128, 128, 0) 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 516px;
  left: 109px;
  position: absolute;
  top: 3036px;
  width: 824px;
}

.web-1920-1 .rectangle-12-HlzXCz {
  background: linear-gradient(121.95deg, rgba(255, 255, 255, 0.2) 1.45%, rgba(128, 128, 128, 0) 100%);
  background-color: transparent;
  border-radius: 15px;
  height: 516px;
  left: 984px;
  position: absolute;
  top: 3036px;
  width: 824px;
}


